apiVersion: apps/v1
kind: Deployment
metadata:
  name: greeter
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: greeter
  template:
    metadata:
      labels:
        app: greeter
    spec:
      containers:
        - name: greeter
          image: saakbar/greeter:latest
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "8080"