apiVersion: v1
kind: Service
metadata:
  name: greeter-svc
  namespace: exercises
spec:
  type: ClusterIP
  selector:
    app: greeter
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
