apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: example-configmap
      containers:
        - name: hashgenerator
          image: hashgenerator:latest
          imagePullPolicy: Never
          env:
          - name: MESSAGE
            value: "hello world"
