apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: example-configmap
      containers:
        - name: hashgenerator
          image: saakbar/log_output:latest
          imagePullPolicy: Always
          env:
          - name: MESSAGE
            value: "hello world"
          - name: PORT
            value: "5000"
          volumeMounts:
          - name: config-volume
            mountPath: /app
            readOnly: true
