apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- manifests/deployment.yaml
- manifests/service.yaml

images:
- name: log-output-image
  newName: saakbar/log_output
  newTag: e2bc11d58d0b37292587eb696be90450c2afafe4
