<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Picsum cached image</title>
    <style>
        body {
            font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
            padding: 1.5rem;
            background: #f7f7f7;
        }

        #picsum {
            max-width: 100%;
            height: 300px;
        }
    </style>
</head>

<body>
    <main>
        <h1>The Project App</h1>

        <!-- The <img> points to the /image endpoint which applies server-side caching rules -->
        <img id="picsum" src="/image" alt="Picsum image (cached)" />
        <br />
        <form method="POST" action="/todos">
            <div class="todo-input-area">
                <input type="text" name="text" maxlength="140" required />
                <button type="submit">Create todo</button>
            </div>
        </form>

        <ul class="todo-list" id="todo-list">
            {% for todo in todos %}
            <li>
                <span style="{{ 'text-decoration: line-through;' if todo.done else '' }}">
                    {{ todo.text }}
                </span>
                <form method="POST" action="/update-todo/{{ todo.id }}" style="display: inline;">
                    <input type="hidden" name="done" value="{{ 'false' if todo.done else 'true' }}">
                    <button type="submit">{{ 'Undo' if todo.done else 'Done' }}</button>
                </form>
            </li>
            {% endfor %}
        </ul>
        <p>DevOps with Kubernetes 2025</p>
    </main>
</body>

</html>