<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Picsum cached image</title>
    <style>
        body {
            font-family: system-ui, -apple-system, "Segoe UI", Roboto, Arial;
            padding: 1.5rem;
            background: #f7f7f7;
        }

        #picsum {
            max-width: 100%;
            height: 300px;
        }
    </style>
</head>

<body>
    <main>
        <h1>The Project App</h1>

        <!-- The <img> points to the /image endpoint which applies server-side caching rules -->
        <img id="picsum" src="/image" alt="Picsum image (cached)" />
        <br />
        <input type="text" maxlength="140" />
        <button>Create todo</button>
        <ul>
            <li>Learn Javascript</li>
            <li>Learn React</li>
            <li>Build a project</li>
        </ul>
        <p>DevOps with Kubernetes 2025</p>
    </main>
</body>

</html>